.card {
  width: 100%;
  height: 100%;
  max-width: 360px;
  margin: 0 auto;
}

.coverWrapper {
  padding: 0 0 130% 0;
  overflow: hidden;
  position: relative;
}

.coverWrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.text {
  display: inline-block;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-top: 5px;
}
